*/target
out/*
target
tmp
*~
lib
bin
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
release.properties
gen
*/seed.txt
notes
logs
gen-external-apklibs
*.iml
.DS_Store
.idea/*
commit_message
.gradle
*/build/*
build/*
local.properties
